<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SportsPro</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Assigment3_1.styles.css" asp-append-version="true" />
   
   
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <a class="nav-brand" href="/">SportsPro</a>
            <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupported" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
        </button>
        <nav class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link active" asp-controller="Home" asp-action="Index">Home</a>
                    <a class="nav-item nav-link active" asp-controller="Product" asp-action="List">Product</a>
                    <a class="nav-item nav-link active" asp-controller="Technician" asp-action="List">Technician</a>
                    <a class="nav-item nav-link active" asp-controller="Customer" asp-action="List">Customer</a>
                    <a class="nav-item nav-link active" asp-controller="Incident" asp-action="List">Incident</a>
                    <a class="nav-item nav-link active" asp-controller="Registration" asp-action="GetCustomer">Registration</a>
            </div>

            <div class="navbar-nav navbar-right">
                <a class="nav-item  nav-link active" asp-controller="Home" asp-action="About">About</a>
            </div>

        </nav>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Clayton Mayfield-SportsPro <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
   
</body>
</html>
